<?xml version="1.0" encoding="utf-8"?>
<ArmsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IncreaseAttackNum>5</IncreaseAttackNum>
  <DeclineAttackNum>5</DeclineAttackNum>
  <AddXpExpRate>0</AddXpExpRate>
  <BuyTroopsRate>0</BuyTroopsRate>
  <BloodResume>0.2037037</BloodResume>
  <HasChildrenLimit>true</HasChildrenLimit>
  <RebuildCooldown>1</RebuildCooldown>
  <DonateCooldown>1</DonateCooldown>
  <AddMoneyToLord>10</AddMoneyToLord>
  <SkipMainTask>false</SkipMainTask>
  <FakeTournamaent>true</FakeTournamaent>
  <AutoUpgrade>false</AutoUpgrade>
  <AddXpToLord>6758</AddXpToLord>
  <ChengyingThrustDamage>329</ChengyingThrustDamage>
  <ChengyingThrustSpeed>120</ChengyingThrustSpeed>
  <ChengyingSwingDamage>347</ChengyingSwingDamage>
  <ChengyingSwingSpeed>120</ChengyingSwingSpeed>
  <ModaoSwingDamage>448</ModaoSwingDamage>
  <ModaoSwingSpeed>108</ModaoSwingSpeed>
  <ModaoThrustDamage>300</ModaoThrustDamage>
  <ModaoThrustSpeed>100</ModaoThrustSpeed>
  <TulongThrustDamage>291</TulongThrustDamage>
  <TulongThrustSpeed>120</TulongThrustSpeed>
  <TulongSwingDamage>324</TulongSwingDamage>
  <TulongSwingSpeed>120</TulongSwingSpeed>
  <PishanSwingDamage>599</PishanSwingDamage>
  <PishanSwingSpeed>117</PishanSwingSpeed>
  <LiangyinThrustDamage>519</LiangyinThrustDamage>
  <LiangyinThrustSpeed>100</LiangyinThrustSpeed>
  <ZhugeWeight>1</ZhugeWeight>
  <ZhugejianStackAmount>378</ZhugejianStackAmount>
  <ZhugeStackAmount>22</ZhugeStackAmount>
  <ZhugeThrustDamage>229</ZhugeThrustDamage>
  <ZhugeMissileSpeed>150</ZhugeMissileSpeed>
  <BoomWeight>1</BoomWeight>
  <BoomStackAmount>73</BoomStackAmount>
  <BoomDamage>500</BoomDamage>
  <BoomMissileSpeed>100</BoomMissileSpeed>
  <AllowGreatBomb>false</AllowGreatBomb>
  <LuoriWeight>1</LuoriWeight>
  <LuorijianStackAmount>305</LuorijianStackAmount>
  <LuoriThrustSpeed>200</LuoriThrustSpeed>
  <LuoriThrustDamage>309</LuoriThrustDamage>
  <LuoriMissileSpeed>150</LuoriMissileSpeed>
  <ZiMuAmount>59</ZiMuAmount>
  <RuanjiaHeadArmor>40</RuanjiaHeadArmor>
  <RuanjiaBodyArmor>90</RuanjiaBodyArmor>
  <RuanjiaLegArmor>90</RuanjiaLegArmor>
  <RuanjiaArmArmor>90</RuanjiaArmArmor>
  <JinsiruanjiaHeadArmor>40</JinsiruanjiaHeadArmor>
  <JinsiruanjiaBodyArmor>90</JinsiruanjiaBodyArmor>
  <JinsiruanjiaLegArmor>90</JinsiruanjiaLegArmor>
  <JinsiruanjiaArmArmor>90</JinsiruanjiaArmArmor>
  <XuelifeiWeight>451</XuelifeiWeight>
  <XuelifeiHitPoints>1126</XuelifeiHitPoints>
  <XuelifeiManeuver>100</XuelifeiManeuver>
  <XuelifeiChargeDamage>47</XuelifeiChargeDamage>
  <XuelifeiSpeed>90</XuelifeiSpeed>
  <DaoliWeight>500</DaoliWeight>
  <DaoliHitPoints>1611</DaoliHitPoints>
  <DaoliManeuver>100</DaoliManeuver>
  <DaoliChargeDamage>67</DaoliChargeDamage>
  <DaoliSpeed>82</DaoliSpeed>
  <HorceArmorBodyArmor>271</HorceArmorBodyArmor>
  <HorceArmorBodyArmor1>221</HorceArmorBodyArmor1>
  <TroopGender>true</TroopGender>
  <TroopGender2>true</TroopGender2>
  <TroopGender3>true</TroopGender3>
  <UpgradeDifficulty>1</UpgradeDifficulty>
  <TrainCooldown>0</TrainCooldown>
</ArmsConfig>