<?xml version="1.0" encoding="utf-8"?>
<ArmsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IncreaseAttackNum>5</IncreaseAttackNum>
  <DeclineAttackNum>5</DeclineAttackNum>
  <AddXpExpRate>0</AddXpExpRate>
  <BuyTroopsRate>0</BuyTroopsRate>
  <BloodResume>0.1</BloodResume>
  <HasChildrenLimit>true</HasChildrenLimit>
  <RebuildCooldown>8</RebuildCooldown>
  <DonateCooldown>8</DonateCooldown>
  <AddMoneyToLord>5</AddMoneyToLord>
  <SkipMainTask>false</SkipMainTask>
  <FakeTournamaent>true</FakeTournamaent>
  <AutoUpgrade>false</AutoUpgrade>
  <AddXpToLord>0</AddXpToLord>
  <ChengyingThrustDamage>120</ChengyingThrustDamage>
  <ChengyingThrustSpeed>120</ChengyingThrustSpeed>
  <ChengyingSwingDamage>120</ChengyingSwingDamage>
  <ChengyingSwingSpeed>120</ChengyingSwingSpeed>
  <ModaoSwingDamage>200</ModaoSwingDamage>
  <ModaoSwingSpeed>90</ModaoSwingSpeed>
  <ModaoThrustDamage>160</ModaoThrustDamage>
  <ModaoThrustSpeed>70</ModaoThrustSpeed>
  <TulongThrustDamage>100</TulongThrustDamage>
  <TulongThrustSpeed>120</TulongThrustSpeed>
  <TulongSwingDamage>100</TulongSwingDamage>
  <TulongSwingSpeed>120</TulongSwingSpeed>
  <PishanSwingDamage>270</PishanSwingDamage>
  <PishanSwingSpeed>70</PishanSwingSpeed>
  <LiangyinThrustDamage>60</LiangyinThrustDamage>
  <LiangyinThrustSpeed>100</LiangyinThrustSpeed>
  <ZhugeWeight>1</ZhugeWeight>
  <ZhugejianStackAmount>210</ZhugejianStackAmount>
  <ZhugeStackAmount>10</ZhugeStackAmount>
  <ZhugeThrustDamage>150</ZhugeThrustDamage>
  <ZhugeArrowDamage>1</ZhugeArrowDamage>
  <ZhugeMissileSpeed>150</ZhugeMissileSpeed>
  <BoomWeight>1</BoomWeight>
  <BoomStackAmount>61</BoomStackAmount>
  <BoomDamage>500</BoomDamage>
  <BoomMissileSpeed>500</BoomMissileSpeed>
  <AllowGreatBomb>false</AllowGreatBomb>
  <LuoriWeight>1</LuoriWeight>
  <LuorijianStackAmount>160</LuorijianStackAmount>
  <LuoriThrustSpeed>162</LuoriThrustSpeed>
  <LuoriThrustDamage>120</LuoriThrustDamage>
  <LuoriMissileSpeed>150</LuoriMissileSpeed>
  <ZiMuAmount>26</ZiMuAmount>
  <RuanjiaHeadArmor>40</RuanjiaHeadArmor>
  <RuanjiaBodyArmor>90</RuanjiaBodyArmor>
  <RuanjiaLegArmor>90</RuanjiaLegArmor>
  <RuanjiaArmArmor>90</RuanjiaArmArmor>
  <JinsiruanjiaHeadArmor>40</JinsiruanjiaHeadArmor>
  <JinsiruanjiaBodyArmor>90</JinsiruanjiaBodyArmor>
  <JinsiruanjiaLegArmor>90</JinsiruanjiaLegArmor>
  <JinsiruanjiaArmArmor>90</JinsiruanjiaArmArmor>
  <XuelifeiWeight>400</XuelifeiWeight>
  <XuelifeiHitPoints>200</XuelifeiHitPoints>
  <XuelifeiManeuver>100</XuelifeiManeuver>
  <XuelifeiChargeDamage>40</XuelifeiChargeDamage>
  <XuelifeiSpeed>90</XuelifeiSpeed>
  <DaoliWeight>460</DaoliWeight>
  <DaoliHitPoints>200</DaoliHitPoints>
  <DaoliManeuver>100</DaoliManeuver>
  <DaoliChargeDamage>40</DaoliChargeDamage>
  <DaoliSpeed>90</DaoliSpeed>
  <HorceArmorBodyArmor>150</HorceArmorBodyArmor>
  <HorceArmorBodyArmor1>150</HorceArmorBodyArmor1>
  <TroopGender>true</TroopGender>
  <TroopGender2>true</TroopGender2>
  <TroopGender3>true</TroopGender3>
  <UpgradeDifficulty>5</UpgradeDifficulty>
  <TrainCooldown>1</TrainCooldown>
  <ChallengeLevelUp>1</ChallengeLevelUp>
</ArmsConfig>