<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Age>
    <Infant>1</Infant>
    <Child>5</Child>
    <Teenager>9</Teenager>
    <Adult>14</Adult>
    <Old>60</Old>
    <Max>145</Max>
    <AgingSpeed>19</AgingSpeed>
    <AgingAppliesTo>Family</AgingAppliesTo>
    <AgingUntilTheAgeOf>Adult</AgingUntilTheAgeOf>
    <BeardAge>24</BeardAge>
    <ToggleAgeModel>True</ToggleAgeModel>
    <ToggleAgingSpeed>True</ToggleAgingSpeed>
    <ToggleBeardAge>True</ToggleBeardAge>
    <ToggleUIDisplayFix>True</ToggleUIDisplayFix>
    <ToggleDisableInvulnerableChildren>True</ToggleDisableInvulnerableChildren>
  </Age>
</Config>